a {
	text-decoration: none;
}

.expPageWrapper {
  padding: 0 73px 0 73px;
  font-family: "Aeroport";
  margin: 0 auto 150px auto;
  max-width: 1220px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 15px;
    max-width: 767px;
    overflow: hidden;
    padding: 0 15px 0 15px;
    margin-bottom: 0px;
  }

	@media screen and (min-width: 768px) and (max-width: 1025px) {
    max-width: 940px;
    padding: 0 43px 0 43px;
    margin-bottom: 61px;
  }

  @media screen and (min-width: 1026px) and (max-width: 1365px) {
    max-width: 1024px;
    padding: 0 43px 0 43px;
    margin-bottom: 33px;
  }

  @media screen and (min-width: 1366px) and (max-width: 1599px) {
    max-width: 1220px;
    margin-bottom: 33px;
  }

  @media screen and (min-width: 1600px) and (max-width: 1919px) {
    max-width: 1359px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .expPageWrapper,
  .topNav {
    max-width: 1680px;
  }
}

.spacesSection {
	padding: 29px 0 50px 0px;

	@media screen and (max-width: 1365px) {
		margin-left: 0;
		padding: 0;
	}

	@media screen and (max-width: 767px) {
		padding: 32px 0 50px 0px;
	}

	@media screen and (min-width: 1366px) {
		padding-bottom: 0;
	}
}

.centrify {
    display: flex;
    justify-content: center;
}

.mapPageWrapper {
    font-family: "Aeroport";
    width: 1366px;
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .mapPageWrapper {
        width: 768px;
    }
}
@media screen and (min-width: 1024px) and (max-width:1365px) {
    .mapPageWrapper {
        width: 1024px;
    }
}
@media screen and (min-width: 1600px) {
    .mapPageWrapper {
        width: 1600px;
    }
}
@media screen and (min-width:1920px) {
	.mapPageWrapper {
		width: 1920px;
	}
}
@media screen and (min-width: 320px) and (max-width:767px) {
	.mapPageWrapper {
		width: calc(100vw - 30px);
	}
}

/*NAVIGATION*/
.navWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.light {
  color: #fff;
}
.dark {
  color: #000;
}

/*HOVER MENU BLOCK*/
.menuActive {
  display: flex;
  justify-content: space-between;

  .menuElemNav {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  &:hover {
    border-bottom-color: #000;
    cursor: pointer !important;
    opacity: .6;
    transition: border-bottom-color 0.3s ease;
  }
}
.menuHidden {
  display: none;
  flex-direction: column;
  margin-top: 3px;
}
.menuElemNav {
  display: inline-block;
  opacity: .6;
  padding: 13px 0;
}
.menuHidden .menuElemNav:hover {
  opacity: 1;
}
#topMenuElem {
  padding: 0;
  opacity: 1;
}

.isOpen {
  border-bottom: 2px solid #000;
  cursor: pointer !important;
  opacity: .6;
  transition: all .3s ease;
}

/* MAP */

.spacesSectionTitle {
	color: #000;
	font-size: 28px;
	font-family: "Aeroport-Bold";
	margin: 90px 0 84px 0;

	@media screen and (max-width: 1919px) {
		font-size: 30px;
		margin: 70px 0 63px 0;
	}
	@media screen and (max-width: 1365px) {
		font-size: 30px;
		margin: 99px 0 62px 0;
	}
	@media screen and (max-width: 767px) {
		font-size: 30px;
		margin: 61px 0 40px 0;
	}

	@media (min-width: 766px) and (max-width: 1025px) {
		font-size: 21px;
		line-height: 25px;
	}
}

.mapBlockTitle {
  font-family: "Aeroport-Bold";
	font-size: 30px;
  margin-bottom: 70px;
  margin-top: 3px;
}
@media screen and (min-width: 1600px)  {
  .mapBlockTitle {
    margin-bottom: 63px;
    margin-top: 3px;
  }
}
@media screen and (min-width: 1920px) {
  .mapBlockTitle {
    margin-top: 2px;
  }
}
@media screen and (max-width: 1365px) {
  .mapBlockTitle {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mapBlockTitle {
    margin-bottom: 67px;
  }
}
@media screen and (max-width: 767px) {
  .mapBlockTitle {
    font-size: 30px;
    margin-bottom: 50px;
    margin-left:-1px;
  }
}

.mapBlockNav {
	display: flex;
	font-size: 17px;
	margin-bottom: 70px;
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
    .mapBlockNav {
        margin-bottom: 69px;
        margin-top: 3px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mapBlockNav {
        margin-bottom: 69px;
        /* margin-top: 3px; */
    }
}

@media screen and (max-width:767px) {
    .mapBlockNav {
    	justify-content: space-between;
    	margin-bottom: 55px;
    }
}

.mapBlockNavFilter {
	display: none !important;
  cursor: pointer;
	display: flex;
	height:20px;
  margin-right: 323px;
  transition: .3s;
  width: 90px;
}
@media screen and (max-width: 767px) {
  .mapBlockNavFilter {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mapBlockNavFilter {
        margin-right: 313px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .mapBlockNavFilter {
        margin-right: 428px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 1920px) {
    .mapBlockNavFilter {
        margin-right: 373px;
    }
}
@media screen and (min-width: 1920px) {
    .mapBlockNavFilter {
        margin-right: 341px;
    }
}
.mapBlockNavFilter:hover > .mapBlockNavFilterText {
    color: #8D8D8D;
    transition: .3s;
}

.mapBlockNavFilterText {
	height:20px;
	width: 68px;
}

.mapBlockNavFilterIcon {
	background: url(../../img/icon_arrow_down.svg) center no-repeat;
	height: 20px;
	width: 20px;
}

.mapBlockNavList {
	color: black;
    transition: .3s;
}
.mapBlockNavList:hover {
    color: #8D8D8D;
    transition: .3s;
}

.mapBlockGeo {
	display: flex;
}
@media screen and (max-width: 767px) {
    .mapBlockGeo {
    	flex-direction: column;
    }
}

#map {
    height: 724px;
    width: 724px;
}
@media screen and (min-width: 1600px) {
    #map {
        height: 807px;
        width: 807px;
    }
}
@media screen and (min-width: 1920px) {
    #map {
        height: 997px;
        width: 997px;
    }
}
@media screen and (max-width: 1365px) {
    #map {
        height: 400px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #map {
        height: 350px;
        width: 350px;
    }
}
@media screen and (max-width: 767px) {
    #map {
        height: 325px;
        margin-bottom: 0px;
    	width: 100%;
    }
}

.mapBlockGeoCard {
    display: flex;
}

/* .marker1, .marker2, .marker3 {
    transition: .1s;
} */

/* CARD BOX */

.spaceLink {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.spaceBox {
  border-bottom: 1px solid #000;
  padding-left: 28px;
  padding-top: 28px;
  position: relative;
	width: 259px;

	@media screen and (min-width: 1920px) {
		margin-right: 175px;
	}

	@media screen and (max-width: 1365px) {
		padding-left: 0px;
		width: 288px;
	}

	@media screen and (max-width: 767px) {
		width: calc(100vw - 30px);
	}
}

.spaceText {
    height: 108px;
    margin-bottom: 83px;
		@media screen and (min-width: 1920px) {
			margin-bottom: 53px;
		}
		@media screen and (max-width: 1365px) {
			margin-bottom: 21px;
		}
		@media screen and (min-width: 1024px) and (max-width: 1365px) {
			margin-left: 20px;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 8px;
		}
}

.spaceTitle {
  color: black;
	font-family: "Aeroport-bold";
	font-size: 16px;
	line-height: 22px;
  margin-bottom: 0px;
  margin-top: -4px;

	@media (min-width: 360px) {
		font-size: 17px;
		line-height: 25px;
	}

	@media (min-width: 1366px) {
		font-size: 21px !important;
		line-height: 27px !important;
	}

	@media screen and (max-width: 767px) {
		margin-bottom:0;
	}
}

.spaceDescr {
  color: #8D8D8D;
  font-family: "Aeroport-bold";
  font-size: 16px;
  line-height: 22px;
  transition: all .3s ease;

	@media (min-width: 360px) and (max-width: 767px) {
		font-size: 17px;
	  line-height: 25px;
	}

	@media screen and (min-width: 1920px) {
		margin-bottom: 53px;
	}

	@media screen and (max-width: 1365px) {
		margin-bottom: 21px;
		width:65%;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 44px;
	}

	@media (min-width: 1366px) {
		font-size: 21px;
		line-height: 27px;
	}
}

.spaceInfo {
	font-family: "Aeroport";
	font-size: 16px;
	line-height: 22px;
  display: flex;
  flex-direction: column;
  height: 43px;
  transition: all .3s;

	@media (min-width: 360px) {
		font-size: 17px;
		line-height: 25px;
	}

	@media screen and (max-width: 767px) {
		height: 55px;
	}
}

.spaceInfoBlock {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
	@media screen and (min-width: 1920px) {
		margin-top: 27px;
	}
	@media screen and (min-width: 1024px) and (max-width: 1365px) {
		margin-left: 20px;
	}
}

.spaceInfoDay {
  height: 11px;
  margin-right:40px;
  width:60px;
	@media screen and (min-width: 1920px) {
		margin-right: 35px;
		width: 65px;
	}
	@media screen and (max-width: 767px) {
		margin-right: 0;
		width:51%;
	}
}

.spaceInfoTime {
  height: 11px;
	@media screen and (max-width: 767px) {
		margin-bottom: 4px;
		width: 43%;
	}
}

.spaceInfoIcon {
  display: none;
	@media screen and (max-width: 767px) {
		background: url(../../img/icon_arrow_mob.svg) center no-repeat;
		display: block;
		height: 25px;
		margin-left: 10px;
		margin-top: -7px;
		width: 3%;
	}
}

.spacesItem {
	cursor: pointer;
  height: 271px;
  margin: 0 0 140px 164px;

	@media screen and (min-width:1920px) {
		height: 263px;
	}

	@media screen and (max-width: 1365px) {
		height: 191px;
		margin: 0 0 70px 67px;
	}

	@media screen and (min-width: 1024px) and (max-width: 1365px) {
		height: 241px;
		margin: 0 0 70px 67px;
	}

	@media screen and (max-width: 767px) {
		margin: 0 0 15px 0px;
	}

	@media (min-width: 1366px) and (max-width: 1599px) {
		margin-left: 110px;
		margin-top: -25px;
	}
}

.spacesBrowseSchedulePic {
    background: url(../../img/spaces.png) center no-repeat;
    background-size: 279px;
    visibility: hidden;
    height: 151px;
    left: 1px;
    opacity: 0.05;
    position: relative;
    top: -147px;
    width: 278px;
    z-index: 3;
		@media screen and (max-width: 1365px) {
			left: 41px;
		}
		@media screen and (min-width: 1024px) and (max-width: 1365px) {
			left: 41px;
			top: -110px;
		}
		@media screen and (max-width: 1023px) {
			display: none;
			left: -10px;
			top: -125px;
		}
}

.spaceBorderLR {
	border-top: 1px solid black;
	height: 1px;
	left: 1px;
	position: absolute;
	top: 0;
	opacity: 0;
	transition-property: opacity, width;
	transition-duration: 1s, 0s;
	width: 0;
	z-index: 1;

	@media screen and (min-width: 1024px) and (max-width: 1365px) {
		left: 0px;
	}

	@media screen and (max-width: 1023px) {
		left: 0px;
	}
}
.spaceBorderRB {
	border-right: 1px solid black;
  height: 0;
  opacity: 0;
  position: absolute;
  right:8px;
  top: 0;
  transition-property: opacity, height;
  transition-duration: 1s, 0s;
  width: 1px;
  z-index: 1;

	@media screen and (min-width: 1024px) and (max-width: 1365px) {
    right: 10px;
  }

	@media screen and (max-width: 1023px) {
		right: 10px;
	}
}
.spaceBorderBL {
	border-bottom: 1px solid black;
  bottom: 20px;
  height: 1px;
  left: 1px;
  position: absolute;
  transition: .2s;
  width: 278px;
  z-index: 1;

	@media screen and (min-width: 1024px) and (max-width: 1365px) {
    bottom: 0px !important;
    width: 276px;
  }

	@media screen and (max-width: 1023px) {
    bottom: 0px !important;
    width: 100%;
  }
}
.spaceBorderLT {
	border-left: 1px solid black;
	bottom: 20px;
	height: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	transition-property: opacity, height;
	transition-duration: 1s, 0s;
	width: 1px;
	z-index: 1;

	@media screen and (min-width: 1024px) and (max-width: 1365px) {
		bottom: 0px;
	}

	@media screen and (max-width: 1023px) {
		bottom: 0px;
	}
}

@media screen and (max-width: 1365px) {
    .spaceBorderLR {
        left: 0px;
    }
    .spaceBorderRB {
        right: 10px;
    }
    .spaceBorderBL {
        bottom:0px;
        width: 276px;
    }
    .spaceBorderLT {
        bottom: 0px;
    }
}

@media screen and (max-width: 1025px) {
    .spaceBorderLR,
		.spaceBorderRB,
		.spaceBorderLT {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .spaceBorderBL {
        display: none;
        bottom: 25px;
        width: 100%;
    }
}

@media screen and (min-width:1366px) {
    .spacesBrowseSchedulePic:hover > a {
        height: 100%;
        position:absolute;
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .spacesItem:hover > .spacesBrowseSchedulePic{
        opacity: 1;
        transition: all .4s ease;
        transition-delay: .3s;
        visibility:visible;
    }
    .spacesItem:hover > .spaceDescr{
        opacity: 0.05;
        transition: all .2s ease;
        visibility: hidden;
    }
    .spacesItem:hover > .spaceInfo{
        opacity: 0.05;
        transition: all .2s ease;
        visibility: hidden;
    }
    .spacesItem:hover > .spaceText > .spaceDescr{
        opacity: 0.05;
        transition: all .2s ease;
        visibility: hidden;
    }
}

.spaceBox:hover > .spaceBorderLT {
    height: 278px;
    opacity: 1;
    transition-property: opacity, height;
    transition-duration: 0s, .1s;
}
.spaceBox:hover > .spaceBorderLR {
    opacity: 1;
    transition-property: opacity, width;
    transition-duration: 0s, .1s;
    transition-delay: 0s, .1s;
    width: 278px;
}
.spaceBox:hover > .spaceBorderRB {
    opacity: 1;
    height: 279px;
    transition-property: opacity, height;
    transition-duration: 0s, .3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, .2s;
}
@media screen and (min-width: 1920px) {
    .spaceBox:hover > .spaceBorderRB {
        height: 269px;
        transition-property: opacity, height;
        transition-duration: 0s, .3s;
        transition-timing-function: ease, ease;
        transition-delay: 0s, .4s;
    }
    .spaceBox:hover > .spaceBorderLT {
        height: 271px;
        transition-property: opacity, height;
        transition-duration: 0s, .2s;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1365px) {
  .spaceBox:hover > .spaceBorderRB {
		top: -10px;
  }
	.spaceBox:hover > .spaceBorderLR {
		top: -10px;
	}
}

#card_1 {display:none;}
#card_2 {display:none;}
#card_3 {display:none;}
